.error
{
    color: red;
    font-size: 14px;
}
body{
      
     background-size: cover;
} 
    
h1{
    font-size: 20px;
    color: white;
    align-content: center;
}
.bg{
    background-size: auto;
    background-repeat: no-repeat;
    margin: auto;
    margin-left: 55%;
     width:490px;
     height: 440px;
    position:absolute;
    margin-top: -1%;
  
}
     
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

form {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    position:relative;
    z-index: 1;
    max-width: 360px;
    padding: 45px;
    max-width: 360px;
    background:#F8F8FF;
    margin-left:60px;   
    margin-top: 70px;
}
form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.btn{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
