<div class="container">
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;  
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container">    
          <h1>BankProkec</h1>
            <img src="assets/bb4.jpg" class="bg">
           <form  #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" >
            <!-- <label for="Name" style="color:white">Account Holder Name</label><br>
            <input type="text" id="u_name" name="name" minlength="4" maxlength="20"placeholder="Enter UserName" > -->
             <h1 style="color: black">Bank Statement</h1>   
             <!-- <input type="text" (change)="getName(name.value)" #name /><br/> -->
             <input type="file"  (change)="getfile($event)" style="background-color: lightgrey;"/><br/>
             <!-- <input type="button" value="Upload file" class="btn" style="background-color: cadetblue;"  /> -->
             <label for="Name" style="color:black">Bank Branch</label><br>
             <input type="text" id="u_name" name="name" minlength="4" maxlength="20"placeholder="Enter Branch Name" >
             <input type="submit"  class="btn" style="background-color: green"  value="submit">
        </form>
      </div>
    </div>
  
<p *ngIf="isLoading">Loading ... {{ isLoading }}</p>

<app-bar-chart *ngIf="!isLoading && chartData" [bankData]="chartData"></app-bar-chart>
<app-pie-chart *ngIf="!isLoading && chartData" [bankData]="chartData"></app-pie-chart>
