<html>
  <head>
  <style>
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 10px;
    padding: 10px;
  }
  .logo {
              width: 50px;
              height: 30px;
              padding-left: 5px;
              padding-bottom: 5px;
          }
          #l{
            font-size: larger;
          }
          a{
            font-size: 11px;
          }
  </style>
  </head>
  <body>
  
  
    <div class="toolbar" role="banner">
  <ul class="nav">
   
    <img
    width="200"
    alt="Kanini Logo"
    src="../assets/Kanini-Logo.svg" routerLink="/">
    </ul>
    </div>
    
  </body>
  </html>
  
  
  <router-outlet></router-outlet>

